html(lang='en', ng-app='polls')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Polls
    link(rel='stylesheet' href='/public/css/bootstrap.css')
    link(rel='stylesheet' href='/public/css/style.css')
    link(rel='stylesheet' href='/public/css/page.css')
    link(href='/favicon.ico')
    script(src='/public/js/assets/jquery.js')
    script(src='/public/js/assets/bootstrap.js')
    script(src='/public/js/assets/angular.js')
    script(src='/public/js/assets/angular-resource.js')
    script(src='/public/js/assets/angular-ui-router.js')
    script(src='/public/js/assets/ocLazyLoad.min.js')
    script(src='/public/js/app.js')
    script(src='/public/js/controllers.js')
    script(src='/public/js/services.js')
    script(src='/public/js/assets/dialog.js')
    script(src='/app/bower-components/angular-bootstrap/ui-bootstrap-tpls.js')
    
  body(ng-controller="PollListCtrl")
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.navbar-header.width-100s
        a.navbar-brand(href="#index") 用户新增
        a.navbar-brand(href="#list") 用户列表
        a.navbar-brand(href="#item") 用户查询
        a.navbar-brand(href="#new") 书籍
        a.navbar-brand(href="logout") 聊天室
        a.navbar-brand(href="#charts") 图表
        a.navbar-brand(href="#msgBoard") 留言板
        a.navbar-brand(href="canvas") canvas绘图
        
        a.navbar-brand.pull-right(href="login") login
        a.navbar-brand.pull-right {{name}}
    div.container
      ui-view
    footer
      div 本项目有 nodejs+express+angularjs+mongodb  姜德奇出品