html(lang='en', ng-app='polls')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Polls
    link(rel='stylesheet' href='/public/css/bootstrap.css')
    link(rel='stylesheet' href='/public/css/style.css')
    link(href='/favicon.ico')
    script(src='/public/js/angular.js')
    script(src='/public/js/angular-resource.js')
    script(src='/public/js/angular-ui-router.js')
    script(src='/public/js/app.js')
    script(src='/public/js/controllers.js')
    script(src='/public/js/services.js')
    script(src='/public/js/ocLazyLoad.min.js')
    
  body(ng-controller="PollListCtrl")
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.navbar-header.width-100
        a.navbar-brand(href="#index") index
        a.navbar-brand(href="#list") list
        a.navbar-brand(href="#item") item
        a.navbar-brand(href="#new") new
        a.navbar-brand.pull-right(href="login") login
        a.navbar-brand(href="#charts") charts
    div.container
      ui-view
      div(ng-bind='alert')
