doctype html
html
  head
    title= title
<<<<<<< HEAD
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/style.css')
=======
    link(rel='stylesheet', href='/css/style.css')
>>>>>>> 64073badafd8fc66994dc0c2834853bf2541e93a
=======
    link(rel='stylesheet', href='/css/style.css')
>>>>>>> 64073badafd8fc66994dc0c2834853bf2541e93a
  body
    block content
