
body { padding-top: 50px; }
.result-table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}
.result-table td { padding: 8px; }
.result-table > tbody > tr > td:first-child {
  width: 25%;
  max-width: 300px;
  text-align: right;
}
.result-table td table {
  background-color: lightblue;
  text-align: right;
}
a {
  color: #00B7FF;
}
.pad50B {
  padding-bottom: 50px;
}
.width-100 {
  width:100%;
}
footer {
   width:100%;
   height: 50px;
   border-top: #ccc solid 1px;
   padding-top:10px;
   position: fixed;
   bottom: 0;
   text-align: center;
   background: #efefef;
}



ol, ul {
    list-style: none;
}
