
<div class="page-header">
  <h3>---{{name}}</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control width-260 pull-left" ng-model="test" />
        <input type="button" class="btn btn-warning pull-left mrg10L" ng-click="seach()" value="查询" />
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>用户名</th>
                <th>密码</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>{{item.userid}}</td>
                <td>{{item.password}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
