<div class="page-header">
    <h3>用户表---{{name}}</h3>
</div>
<div class="row pad50B">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>用户ID</th>
                <th>用户密码</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>{{item.userid}}</td>
                <td>{{item.password}}</td>
                <td><button class="btn btn-primary" ng-click="del(item)">删除</button></td>
            </tr>
        </tbody>
    </table>

</div>